<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register your business</title>
    <link rel="stylesheet" href="/vendor/materialize.min.css">
    <script src="/vendor/materialize.min.js"></script>
    <script src="/vendor/jquery-3.5.1.min.js"></script>
    <script src="/js/business/register.js"></script>
</head>
<body>
<!-- NAV BAR INCLUDE -->
<%- include ('../partials/nav.ejs'); %>
    <main>
        <h1>Fill in business Details</h1>
    </main>
<!-- NAV BAR INCLUDE -->
<%- include ('../partials/footer.ejs'); %>
</body>
</html>