<a href="/business/dashboard/details">
<div class="card blue-grey lighten-4 dashboard-nav-btn">
    <h5 class="center">Pub Details</h5>
</div>
</a>
<a href="/business/dashboard/pictures">
<div class="card blue-grey lighten-4 dashboard-nav-btn">
    <h5 class="center">Pictures</h5>
</div>
</a>
<a href="/business/dashboard/opening-times">
<div class="card blue-grey lighten-4 dashboard-nav-btn">
    <h5 class="center">Opening Times</h5>
</div>
</a>
<a href="/business/dashboard/tables">
<div class="card blue-grey lighten-4 dashboard-nav-btn">
    <h5 class="center">Tables</h5>
</div>
</a>
<a href="/business/dashboard/bookings">
<div class="card blue-grey lighten-4 dashboard-nav-btn">
    <h5 class="center">Bookings</h5>
</div>
</a>