<div class="dash-nav-btns">
    <a href="/business/dashboard/details" class="col s12 waves-effect waves-light btn-large">Details</a>
    <a href="/business/dashboard/pictures" class="col s12 waves-effect waves-light btn-large">Pictures</a>
    <a href="/business/dashboard/opening-times" class="col s12 waves-effect waves-light btn-large">Opening Times</a>
    <a href="/business/dashboard/tables" class="col s12 waves-effect waves-light btn-large">Tables</a>
    <a href="/business/dashboard/bookings" class="col s12 waves-effect waves-light btn-large">Bookings</a>
    <a class="col s12 waves-effect waves-light btn-large red darken-2" id="signout-btn">Sign Out</a>
</div>