<footer class="page-footer #263238 blue-grey darken-4">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h4 class="white-text">Table Booking Application</h4>
            <p class="grey-text text-lighten-4">Booking application designed for pubs and bar business owners
                to better manage their table bookings.
            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h4 class="white-text">Site Navigation</h4>
            <ul>
                <li><a href="/login" class="grey-text text-lighten-3">User Login</a></li>
                <li><a href="/signup" class="grey-text text-lighten-3">User Signup</a></li>
                <li><a href="/business/login" class="grey-text text-lighten-3">Business Login</a></li>
                <li><a href="/business/signup" class="grey-text text-lighten-3">Business Signup</a></li>
                <li><a href="/business/dashboard" class="grey-text text-lighten-3">Business Dashboard</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
    </div>
</footer>