<nav>
    <script src="/js/auth.js"></script>
    <div class="nav-wrapper #263238 blue-grey">
        <div class="container">
        <a href="/" class="brand-logo">Table Booking App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Sign in</a></li>
        </ul>
        </div>
    </div>
    <style>
        main {
          display: flex;
          min-height: 90vh;
          flex-direction: column;
        }
      
        main {
          flex: 1 0 auto;
        }
    </style>
</nav>