#search-box input {
    font-size: 1.6rem;
    border-bottom: 0px solid #000;
    box-shadow: 0 0px 0 0 #000;
    margin-top: 2px;
    margin-bottom: 0px;
}

#search-box i {
    margin-left: -8px;
    margin-right: 8px;
    margin-top: 10px;
    color: #00897b;
}

#search-box a {
    margin-top: 22px;
    margin-left: 10px;
}

